### Installing and importing library

In [1]:
!pip install ipython-autotime plotly --quiet

In [2]:
!pip install Pylance --quiet

In [3]:
!pip install openpyxl --quiet

In [4]:
# Data manipulation
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
import openpyxl
warnings.filterwarnings('ignore')

# Visualization
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical analysis
from scipy import stats
from scipy.stats import chi2_contingency, zscore
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [5]:
# Dashboard
import plotly.io as pio
pio.templates.default = "plotly_white"

print("All libraries imported successfully")

All libraries imported successfully

### DATA LOADING & INITIAL INSPECTION

In [6]:
def load_and_inspect_data(filepath):
    """Load data and perform initial inspection"""
    print("\n" + "="*80)
    print("DATA LOADING & INITIAL INSPECTION")
    print("="*80)

In [7]:
# Load data
df = pd.read_excel(r"C:\Users\reflectorm\Downloads\FRC_Readership.xlsx")

print(f"\n Data loaded successfully: {df.shape[0]:,} rows × {df.shape[1]} columns")

 Data loaded successfully: 5,976 rows × 38 columns

In [8]:
# Basic info
print("\n Dataset Overview:")
print(f"   Total Records: {len(df):,}")
print(f"   Total Columns: {len(df.columns)}")
print(f"   Memory Usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

 Dataset Overview:
   Total Records: 5,976
   Total Columns: 38
   Memory Usage: 10.74 MB

In [9]:
df.head()

,Date/time read,Year,Reader ID (FactSet),Reader name,Phone,Parent Firm ID (FactSet),Parent Firm name,Firm ID (FactSet),Firm name,Address,...,Asset Type,Primary Industry Code (FactSet),Primary Industry Name (FactSet),Security Type,Discipline,Research Approach,Periodicity,Region,Country,Compilation Indicator
0,03-Jan-2019 12:29,2019,216246,"Srichandra, Andrew",3125872920,7199,"Driehaus Capital Management, LLC",7199,"Driehaus Capital Management, LLC",25 E. Erie,...,Stock,2225.0,Agricultural Commodities/Milling,Common,Investment,Fundamental,Daily,Africa,Ghana,Yes
1,04-Jan-2019 12:33,2019,216246,"Srichandra, Andrew",3125872920,7199,"Driehaus Capital Management, LLC",7199,"Driehaus Capital Management, LLC",25 E. Erie,...,Stock,2225.0,Agricultural Commodities/Milling,NaN,Investment,Fundamental,Weekly,Africa,Ghana,Yes
2,08-Jan-2019 07:01,2019,833192,"Kelly, Georgia",5184628355,1437969,BAML - GWIM 1100 Pennington,1484773,BAML Wealth Albany - WZ3291,69 State St,...,USTreasuries,NaN,NaN,TreasuryBills,Investment,Fundamental,Weekly,Africa,Egypt,Yes
3,08-Jan-2019 13:11,2019,216246,"Srichandra, Andrew",3125872920,7199,"Driehaus Capital Management, LLC",7199,"Driehaus Capital Management, LLC",25 E. Erie,...,Stock,2225.0,Agricultural Commodities/Milling,NaN,Investment,Fundamental,Daily,Africa,Ghana,Yes
4,08-Jan-2019 13:11,2019,833192,"Kelly, Georgia",5184628355,1437969,BAML - GWIM 1100 Pennington,1484773,BAML Wealth Albany - WZ3291,69 State St,...,Stock,2225.0,Agricultural Commodities/Milling,NaN,Investment,Fundamental,Daily,Africa,Ghana,Yes

In [10]:
# Display columns
print("\n Column Names:")
for i, col in enumerate(df.columns, 1):
    print(f"   {i:2d}. {col}")

 Column Names:
    1. Date/time read
    2. Year
    3. Reader ID (FactSet)
    4. Reader name
    5. Phone
    6. Parent Firm ID (FactSet)
    7. Parent Firm name
    8. Firm ID (FactSet)
    9. Firm name
   10. Address
   11. City
   12. State
   13. Reader Country
   14. Doc ID (contributor)
   15. Doc ID (FactSet)
   16. Readership Event ID (FactSet)
   17. Date/time published
   18. Date/time received
   19. Report title
   20. Primary issuer Ticker
   21. Primary issuer name
   22. Primary analyst code (contributor)
   23. Primary analyst code (FactSet)
   24. Primary analyst name
   25. Number of pages in report
   26. Report Purpose
   27. Report Focus
   28. Asset Class
   29. Asset Type
   30. Primary Industry Code (FactSet)
   31. Primary Industry Name (FactSet)
   32. Security Type
   33. Discipline
   34. Research Approach
   35. Periodicity
   36. Region
   37. Country
   38. Compilation Indicator

In [11]:
# Data types
print("\n Data Types:")
print(df.dtypes)

 Data Types:
Date/time read                         object
Year                                    int64
Reader ID (FactSet)                    object
Reader name                            object
Phone                                  object
Parent Firm ID (FactSet)                int64
Parent Firm name                       object
Firm ID (FactSet)                       int64
Firm name                              object
Address                                object
City                                   object
State                                  object
Reader Country                         object
Doc ID (contributor)                   object
Doc ID (FactSet)                       object
Readership Event ID (FactSet)          object
Date/time published                    object
Date/time received                     object
Report title                           object
Primary issuer Ticker                  object
Primary issuer name                    object
Primary analyst code (contributor)    float64
Primary analyst code (FactSet)        float64
Primary analyst name                   object
Number of pages in report               int64
Report Purpose                         object
Report Focus                           object
Asset Class                            object
Asset Type                             object
Primary Industry Code (FactSet)       float64
Primary Industry Name (FactSet)        object
Security Type                          object
Discipline                             object
Research Approach                      object
Periodicity                            object
Region                                 object
Country                                object
Compilation Indicator                  object
dtype: object

In [12]:
# Basic statistics
print("\n **Basic Statistics:**")
print(df.describe(include='all'))

 **Basic Statistics:**
           Date/time read         Year  Reader ID (FactSet)   Reader name  \
count                5976  5976.000000               5976.0          5976
unique               3679          NaN                768.0           762
top     17-Jun-2025 10:48          NaN             824137.0  Bacon, Lorel
freq                   34          NaN               1678.0          1678
mean                  NaN  2022.438755                  NaN           NaN
std                   NaN     2.033592                  NaN           NaN
min                   NaN  2019.000000                  NaN           NaN
25%                   NaN  2021.000000                  NaN           NaN
50%                   NaN  2023.000000                  NaN           NaN
75%                   NaN  2024.000000                  NaN           NaN
max                   NaN  2025.000000                  NaN           NaN

               Phone  Parent Firm ID (FactSet)        Parent Firm name  \
count   4.999000e+03              5.976000e+03                    5976
unique  5.840000e+02                       NaN                     416
top     2.127089e+09                       NaN  Bessemer Trust Company
freq    1.678000e+03                       NaN                    1684
mean             NaN              3.144776e+05                     NaN
std              NaN              4.993862e+05                     NaN
min              NaN              2.000000e+01                     NaN
25%              NaN              9.400000e+01                     NaN
50%              NaN              5.693000e+03                     NaN
75%              NaN              5.254230e+05                     NaN
max              NaN              3.159292e+06                     NaN

        Firm ID (FactSet)               Firm name            Address  ...  \
count        5.976000e+03                    5976               5976  ...
unique                NaN                     548                588  ...
top                   NaN  Bessemer Trust Company  1271 6th Avenue    ...
freq                  NaN                    1679               1680  ...
mean         6.177608e+05                     NaN                NaN  ...
std          6.952196e+05                     NaN                NaN  ...
min          2.000000e+01                     NaN                NaN  ...
25%          9.400000e+01                     NaN                NaN  ...
50%          4.383650e+05                     NaN                NaN  ...
75%          9.590570e+05                     NaN                NaN  ...
max          3.239041e+06                     NaN                NaN  ...

       Asset Type Primary Industry Code (FactSet)  \
count        5377                     3828.000000
unique         10                             NaN
top         Stock                             NaN
freq         4433                             NaN
mean          NaN                     3257.367816
std           NaN                     1272.672431
min           NaN                     1105.000000
25%           NaN                     2225.000000
50%           NaN                     2410.000000
75%           NaN                     4810.000000
max           NaN                     6010.000000

       Primary Industry Name (FactSet) Security Type  Discipline  \
count                             3828          2735        5976
unique                              34            10           3
top                     Regional Banks        Common  Investment
freq                               714          1881        5733
mean                               NaN           NaN         NaN
std                                NaN           NaN         NaN
min                                NaN           NaN         NaN
25%                                NaN           NaN         NaN
50%                                NaN           NaN         NaN
75%                                NaN           NaN         NaN
max                                NaN           NaN         NaN

       Research Approach Periodicity  Region Country Compilation Indicator
count               5503        4704    5895    5224                  5976
unique                 1           4       7      25                     2
top          Fundamental       Daily  Africa   Ghana                   Yes
freq                5503        3344    5773    2964                  4866
mean                 NaN         NaN     NaN     NaN                   NaN
std                  NaN         NaN     NaN     NaN                   NaN
min                  NaN         NaN     NaN     NaN                   NaN
25%                  NaN         NaN     NaN     NaN                   NaN
50%                  NaN         NaN     NaN     NaN                   NaN
75%                  NaN         NaN     NaN     NaN                   NaN
max                  NaN         NaN     NaN     NaN                   NaN

[11 rows x 38 columns]

### DATA CLEANING & PREPROCESSING

In [13]:
def clean_data(df):
    """Comprehensive data cleaning"""
    print("\n" + "="*80)
    print("DATA CLEANING & PREPROCESSING")
    print("="*80)

In [14]:
df_clean = df.copy()

In [15]:
# Missing values analysis
print("\n Missing Values Analysis:")
missing = df_clean.isnull().sum()
missing_pct = (missing / len(df_clean)) * 100
missing_df = pd.DataFrame({
    'Missing_Count': missing,
    'Percentage': missing_pct
}).sort_values('Missing_Count', ascending=False)
print(missing_df[missing_df['Missing_Count'] > 0])

 Missing Values Analysis:
                                    Missing_Count  Percentage
Report Purpose                               5314   88.922356
Primary issuer Ticker                        4979   83.316600
Primary issuer name                          4955   82.914993
Security Type                                3241   54.233601
Primary Industry Name (FactSet)              2148   35.943775
Primary Industry Code (FactSet)              2148   35.943775
Periodicity                                  1272   21.285141
Phone                                         977   16.348728
State                                         835   13.972557
Country                                       752   12.583668
Asset Type                                    599   10.023427
Research Approach                             473    7.914993
Report Focus                                  249    4.166667
Primary analyst code (contributor)            211    3.530790
Asset Class                                   202    3.380187
Primary analyst name                          128    2.141901
Region                                         81    1.355422
Primary analyst code (FactSet)                 77    1.288487
Doc ID (contributor)                           36    0.602410

In [16]:
# Date/time processing
date_columns = [col for col in df_clean.columns if 'date' in col.lower() or 'time' in col.lower()]
for col in date_columns:
    if col in df_clean.columns:
        try:
            df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
            print(f" Converted {col} to datetime")
        except:
            print(f" Could not convert {col} to datetime")

 Converted Date/time read to datetime
 Converted Date/time published to datetime
 Converted Date/time received to datetime

In [17]:
# Extract temporal features
if 'Date/time read' in df_clean.columns:
    df_clean['Year'] = df_clean['Date/time read'].dt.year
    df_clean['Month'] = df_clean['Date/time read'].dt.month
    df_clean['Quarter'] = df_clean['Date/time read'].dt.quarter
    df_clean['DayOfWeek'] = df_clean['Date/time read'].dt.day_name()
    df_clean['Hour'] = df_clean['Date/time read'].dt.hour
    print(" Extracted temporal features")

 Extracted temporal features

In [18]:
# Clean text columns (strip whitespace)
text_cols = df_clean.select_dtypes(include=['object']).columns
for col in text_cols:
    if df_clean[col].dtype == 'object':
        df_clean[col] = df_clean[col].astype(str).str.strip()
print(f" Cleaned {len(text_cols)} text columns")

 Cleaned 29 text columns

In [19]:
# Handle duplicates
duplicates = df_clean.duplicated().sum()
print(f"\n Duplicate rows: {duplicates:,}")
if duplicates > 0:
    df_clean = df_clean.drop_duplicates()
    print(f" Removed {duplicates:,} duplicate rows")

 Duplicate rows: 0

In [20]:
    # Data quality score
quality_score = ((1 - df_clean.isnull().sum().sum() / (len(df_clean) * len(df_clean.columns))) * 100)
print(f"\n Data Quality Score: {quality_score:.2f}%")
print(f" Clean dataset: {len(df_clean):,} rows")

 Data Quality Score: 99.03%
 Clean dataset: 5,976 rows

### KEY PERFORMANCE INDICATORS (KPIs)

In [21]:
def calculate_kpis(df):
    """Calculate key performance indicators"""
    print("\n" + "="*80)
    print("KEY PERFORMANCE INDICATORS (KPIs)")
    print("="*80)

In [22]:
kpis = {}

In [23]:
# Total readership
kpis['total_reads'] = len(df)

In [24]:
# Unique metrics
if 'Reader ID (FactSet)' in df.columns:
    kpis['unique_readers'] = df['Reader ID (FactSet)'].nunique()
if 'Firm ID (FactSet)' in df.columns:
    kpis['unique_firms'] = df['Firm ID (FactSet)'].nunique()
if 'Parent Firm ID (FactSet)' in df.columns:
    kpis['unique_parent_firms'] = df['Parent Firm ID (FactSet)'].nunique()

In [25]:
# Geographic reach
if 'Country' in df.columns:
    kpis['countries_reached'] = df['Country'].nunique()
if 'Region' in df.columns:
    kpis['regions_reached'] = df['Region'].nunique()

In [26]:
# Report metrics
if 'Report title' in df.columns:
    kpis['unique_reports'] = df['Report title'].nunique()
if 'Primary analyst name' in df.columns:
    kpis['active_analysts'] = df['Primary analyst name'].nunique()

In [27]:
# Asset and Industry coverage
if 'Asset Class' in df.columns:
    kpis['asset_classes'] = df['Asset Class'].nunique()
if 'Asset Type' in df.columns:
    kpis['asset_types'] = df['Asset Type'].nunique()

In [28]:
# Engagement metrics
if 'Number of pages in report' in df.columns:
    kpis['avg_report_length'] = df['Number of pages in report'].mean()
    kpis['total_pages_read'] = df['Number of pages in report'].sum()

In [29]:
# Time-based metrics
if 'Year' in df.columns:
    kpis['years_covered'] = df['Year'].nunique()
    kpis['date_range'] = f"{df['Year'].min()} - {df['Year'].max()}"

In [30]:
# Print KPIs
print("\n OVERALL METRICS:")
for key, value in kpis.items():
    if isinstance(value, float):
        print(f"   • {key.replace('_', ' ').title()}: {value:,.2f}")
    else:
        print(f"   • {key.replace('_', ' ').title()}: {value:,}" if isinstance(value, int) else f"   • {key.replace('_', ' ').title()}: {value}")

 OVERALL METRICS:
   • Total Reads: 5,976
   • Unique Readers: 768
   • Unique Firms: 595
   • Unique Parent Firms: 416
   • Countries Reached: 25
   • Regions Reached: 7
   • Unique Reports: 1,810
   • Active Analysts: 23
   • Asset Classes: 4
   • Asset Types: 10
   • Avg Report Length: 5.21
   • Total Pages Read: 31109
   • Years Covered: 7
   • Date Range: 2019 - 2025

### GEOGRAPHIC ANALYSIS

In [31]:
def geographic_analysis(df):
    """Analyze readership by region and country"""
    print("\n" + "="*80)
    print("GEOGRAPHIC ANALYSIS")
    print("="*80)

In [32]:
results = {}

In [33]:
# Region analysis
if 'Region' in df.columns:
    region_stats = df.groupby('Region').agg({
        'Reader ID (FactSet)': 'count',
        'Firm ID (FactSet)': 'nunique'
    }).round(2)
    region_stats.columns = ['Total_Reads', 'Unique_Firms']
    region_stats = region_stats.sort_values('Total_Reads', ascending=False)
    region_stats['Percentage'] = (region_stats['Total_Reads'] / region_stats['Total_Reads'].sum() * 100).round(2)
        
    print("\n TOP REGIONS BY READERSHIP:")
    print(region_stats.head(10))

 TOP REGIONS BY READERSHIP:
                 Total_Reads  Unique_Firms  Percentage
Region
Africa                  5773           559       97.93
Americas                  70            28        1.19
EMEA                      28            28        0.47
AsiaExJapan               12             7        0.20
AsiaPac                   10             4        0.17
EmergingMarkets            1             1        0.02
NorthAmerica               1             1        0.02

In [34]:
results['region_stats'] = region_stats

In [35]:
# Country analysis
if 'Country' in df.columns:
    country_stats = df.groupby('Country').agg({
        'Reader ID (FactSet)': 'count',
        'Firm ID (FactSet)': 'nunique'
        }).round(2)
    country_stats.columns = ['Total_Reads', 'Unique_Firms']
    country_stats = country_stats.sort_values('Total_Reads', ascending=False)
    country_stats['Percentage'] = (country_stats['Total_Reads'] / country_stats['Total_Reads'].sum() * 100).round(2)
        
    print("\n TOP 20 COUNTRIES BY READERSHIP:")
    print(country_stats.head(20))
    results['country_stats'] = country_stats

 TOP 20 COUNTRIES BY READERSHIP:
                           Total_Reads  Unique_Firms  Percentage
Country
Ghana                             2964           396       56.74
Egypt                             1049           140       20.08
Canada                             666            86       12.75
India                              192            20        3.68
Australia                           96            13        1.84
Togo                                49            26        0.94
Kenya                               33            12        0.63
Zambia                              30             8        0.57
United Kingdom                      22            21        0.42
Nigeria                             22             6        0.42
China (People's Republic)           16             9        0.31
United States                       16            13        0.31
South Africa                        16             7        0.31
Colombia                            15             4        0.29
Denmark                             10            10        0.19
Botswana                             5             5        0.10
Ukraine                              5             3        0.10
Saudi Arabia                         4             4        0.08
Switzerland                          4             2        0.08
Gambia                               2             2        0.04

In [36]:
# Region-Country breakdown
if 'Region' in df.columns and 'Country' in df.columns:
    region_country = df.groupby(['Region', 'Country']).size().reset_index(name='Reads')
    region_country = region_country.sort_values('Reads', ascending=False)
    print("\n TOP 20 REGION-COUNTRY COMBINATIONS:")
    print(region_country.head(20))
    results['region_country'] = region_country

 TOP 20 REGION-COUNTRY COMBINATIONS:
         Region                    Country  Reads
9        Africa                      Ghana   2964
6        Africa                      Egypt   1049
3        Africa                     Canada    613
10       Africa                      India    184
0        Africa                  Australia     86
21     Americas                     Canada     52
16       Africa                       Togo     49
11       Africa                      Kenya     33
20       Africa                     Zambia     30
12       Africa                    Nigeria     22
23     Americas              United States     16
31         EMEA             United Kingdom     16
14       Africa               South Africa     16
5        Africa                   Colombia     15
4        Africa  China (People's Republic)     13
29         EMEA                    Denmark     10
28      AsiaPac                  Australia     10
26  AsiaExJapan                      India      8
2        Africa                   Botswana      5
19       Africa             United Kingdom      5

### TEMPORAL ANALYSIS

In [37]:
def temporal_analysis(df):
    """Analyze trends over time"""
    print("\n" + "="*80)
    print("TEMPORAL ANALYSIS")
    print("="*80)

In [38]:
results = {}

In [39]:
# Yearly trends
if 'Year' in df.columns:
    yearly = df.groupby('Year').agg({
        'Reader ID (FactSet)': 'count',
        'Firm ID (FactSet)': 'nunique',
    }).round(2)
    yearly.columns = ['Total_Reads', 'Unique_Firms']
    yearly['YoY_Growth'] = yearly['Total_Reads'].pct_change() * 100
        
    print("\n YEARLY TRENDS:")
    print(yearly)
    results['yearly'] = yearly

 YEARLY TRENDS:
      Total_Reads  Unique_Firms  YoY_Growth
Year
2019          730           163         NaN
2020          699           113   -4.246575
2021          577            95  -17.453505
2022          588            89    1.906412
2023         1137            93   93.367347
2024         1085            68   -4.573439
2025         1160           189    6.912442

In [40]:
    # Quarterly trends
if 'Year' in df.columns and 'Quarter' in df.columns:
    df['Year_Quarter'] = df['Year'].astype(str) + '-Q' + df['Quarter'].astype(str)
    quarterly = df.groupby('Year_Quarter')['Reader ID (FactSet)'].count().reset_index()
    quarterly.columns = ['Period', 'Reads']
    print("\n QUARTERLY TRENDS (Last 12 quarters):")
    print(quarterly.tail(12))
    results['quarterly'] = quarterly

In [41]:
# Monthly patterns
if 'Month' in df.columns:
    monthly = df.groupby('Month')['Reader ID (FactSet)'].count().reset_index()
    monthly.columns = ['Month', 'Reads']
    month_names = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun',
                    7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}
    monthly['Month_Name'] = monthly['Month'].map(month_names)
    print("\n MONTHLY PATTERNS:")
    print(monthly)
    results['monthly'] = monthly

### FIRM & ANALYST ANALYSIS

In [42]:
def firm_analyst_analysis(df):
    """Analyze firms and analysts"""
    print("\n" + "="*80)
    print("FIRM & ANALYST ANALYSIS")
    print("="*80)
    
    results = {}

In [43]:
# Top firms
if 'Firm name' in df.columns:
    top_firms = df.groupby('Firm name').agg({
        'Reader ID (FactSet)': 'count',
        'Reader name' : 'nunique'
    }).round(2)
    top_firms.columns = ['Total_Reads', 'Unique_Readers']
    top_firms = top_firms.sort_values('Total_Reads', ascending=False)
    print("\n TOP 20 FIRMS BY READERSHIP:")
    print(top_firms.head(20))
    results['top_firms'] = top_firms

 TOP 20 FIRMS BY READERSHIP:
                                              Total_Reads  Unique_Readers
Firm name
Bessemer Trust Company                               1679               2
Permodalan Nasional Berhad (PNB)                      666               1
JPM Private Bank - 277 Park                           476               1
Charles Schwab & Co., Inc                             348               3
BAML Wealth Pennington - WA9749                       250               1
Old Mutual Investment Group (Pty) Ltd.                162               3
Fairfield Bush & Co                                   148               1
Columbia University - Business School                 133               8
Osborne Partners Capital Management                   119               1
Montrusco Bolton Investments Inc.                     118               1
PNC Wealth Management                                 112              12
Bank of America Private Wealth Management              99              10
BAML Wealth Kansas City - WZ3701                       76               1
BAML Wealth New York - W04701                          72               1
Tanager Wealth Management                              56               2
Virtus Investment Partners                             56               6
Allianz Global Investors U.S.                          50               8
Copal Amba (for Julius Baer), Bangalore                46               1
Equinox Partners Investment Management, LLC.           41               9
BAML Wealth - WZ5911 - Richmond                        38               1

In [44]:
# Top parent firms
if 'Parent Firm name' in df.columns:
    top_parent = df.groupby('Parent Firm name').agg({
        'Reader ID (FactSet)': 'count',
        'Firm ID (FactSet)': 'nunique'
    }).round(2)
    top_parent.columns = ['Total_Reads', 'Unique_Subsidiaries']
    top_parent = top_parent.sort_values('Total_Reads', ascending=False)
    print("\n TOP 20 PARENT FIRMS:")
    print(top_parent.head(20))
    results['top_parent_firms'] = top_parent

 TOP 20 PARENT FIRMS:
                                                    Total_Reads  \
Parent Firm name
Bessemer Trust Company                                     1684
Permodalan Nasional Berhad (PNB)                            666
JPMorgan Investment Management                              524
BAML - GWIM 1100 Pennington                                 476
Charles Schwab & Co., Inc.                                  354
Old Mutual Investment Group (Pty) Ltd.                      164
Fairfield Bush & Co                                         148
Columbia University - Business School                       133
PNC Bank, National Association                              121
Osborne Partners Capital Management                         119
Montrusco Bolton Investments Inc.                           118
Bank of America Private Wealth Management                   103
Allianz Global Investors U.S. Holdings LLC                   57
Virtus Investment Partners                                   56
Tanager Wealth Management                                    56
DBS Bank Ltd                                                 53
Bank Julius Baer & Co. Ltd. - Zurich (Bahnhofst...           48
Equinox Partners Investment Management, LLC.                 41
D. E. Shaw & Co., L.P.                                       39
Poste Italiane S.p.A.                                        33

                                                    Unique_Subsidiaries
Parent Firm name
Bessemer Trust Company                                                3
Permodalan Nasional Berhad (PNB)                                      1
JPMorgan Investment Management                                       13
BAML - GWIM 1100 Pennington                                          20
Charles Schwab & Co., Inc.                                            2
Old Mutual Investment Group (Pty) Ltd.                                2
Fairfield Bush & Co                                                   1
Columbia University - Business School                                 1
PNC Bank, National Association                                       12
Osborne Partners Capital Management                                   1
Montrusco Bolton Investments Inc.                                     1
Bank of America Private Wealth Management                            12
Allianz Global Investors U.S. Holdings LLC                            3
Virtus Investment Partners                                            2
Tanager Wealth Management                                             1
DBS Bank Ltd                                                          2
Bank Julius Baer & Co. Ltd. - Zurich (Bahnhofst...                    3
Equinox Partners Investment Management, LLC.                          1
D. E. Shaw & Co., L.P.                                                3
Poste Italiane S.p.A.                                                 1

In [45]:
# Top analysts
if 'Primary analyst name' in df.columns:
    top_analysts = df.groupby('Primary analyst name').agg({
        'Reader ID (FactSet)': 'count',
        'Report title': 'nunique'
    }).round(2)
    top_analysts.columns = ['Total_Reads', 'Unique_Reports']
    top_analysts = top_analysts.sort_values('Total_Reads', ascending=False)
    print("\n TOP 20 ANALYSTS BY READERSHIP:")
    print(top_analysts.head(20))
    results['top_analysts'] = top_analysts

 TOP 20 ANALYSTS BY READERSHIP:
                          Total_Reads  Unique_Reports
Primary analyst name
Azidizia, Emmanuel               1176             432
Monanyun, Grace                  1141             285
Martey, Courage Kingsley          776             189
Asante, Lawrencia                 698             357
Kporku, Edem Nicholas             377             177
Dodoo, Naa Tsitse                 317             110
Arkoh-koomson, Kweku              265              17
Zilevu, Wilson                    264              22
Sika Narteh, Mac-Jordan           256              19
Mensah, Refuge                    147              30
Lavie, Evelyn                     130              31
Mensa-Bonsu, Afua Dankwa          126              33
Amoaning-Kyei, Gideon              81              22
Mensah, Reflector                  26               5
Boahen, Alex                       18               9
Agbozo, Joyce S A                  16               6
Amable, Amanda                     11               1
Agbozo, Joyce                       8               4
Mensa-Bonsu, Afua                   4               4
Opoku-Asiedu, Jesse                 4               2

### CONTENT ANALYSIS

In [46]:
def content_analysis(df):
    """Analyze report content characteristics"""
    print("\n" + "="*80)
    print("CONTENT ANALYSIS")
    print("="*80)
    
    results = {}

In [47]:
 # Asset class analysis
if 'Asset Class' in df.columns:
    asset_class = df.groupby('Asset Class')['Reader ID (FactSet)'].count().reset_index()
    asset_class.columns = ['Asset_Class', 'Reads']
    asset_class = asset_class.sort_values('Reads', ascending=False)
    asset_class['Percentage'] = (asset_class['Reads'] / asset_class['Reads'].sum() * 100).round(2)
    print("\n ASSET CLASS DISTRIBUTION:")
    print(asset_class)
    results['asset_class'] = asset_class

 ASSET CLASS DISTRIBUTION:
   Asset_Class  Reads  Percentage
2       Equity   4406       76.31
3  FixedIncome    751       13.01
1     Currency    438        7.59
0    Commodity    179        3.10

In [48]:
 #Asset type analysis
if 'Asset Type' in df.columns:
    asset_type = df.groupby('Asset Type')['Reader ID (FactSet)'].count().reset_index()
    asset_type.columns = ['Asset_Type', 'Reads']
    asset_type = asset_type.sort_values('Reads', ascending=False)
    print("\n TOP ASSET TYPES:")
    print(asset_type.head(15))
    results['asset_type'] = asset_type

 TOP ASSET TYPES:
                      Asset_Type  Reads
8                          Stock   4433
9                   USTreasuries    703
1                    Agriculture    112
4                         Credit     62
2  CollateralizedDebtObligations     27
6                         Energy     19
3       CorporateHighYieldCredit     13
0                   AgencyCredit      4
5                    Derivatives      3
7                    Environment      1

In [49]:
    # Report focus
if 'Report Focus' in df.columns:
    focus = df.groupby('Report Focus')['Reader ID (FactSet)'].count().reset_index()
    focus.columns = ['Report_Focus', 'Reads']
    focus = focus.sort_values('Reads', ascending=False)
    print("\n REPORT FOCUS DISTRIBUTION:")
    print(focus.head(10))
    results['report_focus'] = focus

 REPORT FOCUS DISTRIBUTION:
     Report_Focus  Reads
6          Market   1947
4           Index   1649
5          Issuer   1038
0      AssetClass    733
3      Discipline    242
9    SecurityType     60
1       AssetType     42
2         Country      7
8  SectorIndustry      7
7          Region      2

In [50]:
# Report purpose
if 'Report Purpose' in df.columns:
    purpose = df.groupby('Report Purpose')['Reader ID (FactSet)'].count().reset_index()
    purpose.columns = ['Purpose', 'Reads']
    purpose = purpose.sort_values('Reads', ascending=False)
    print("\n REPORT PURPOSE DISTRIBUTION:")
    print(purpose)

 REPORT PURPOSE DISTRIBUTION:
     Purpose  Reads
0     Action    613
1  Education     31
2  Influence     18

In [51]:
results['report_purpose'] = purpose

In [52]:
# Research approach
if 'Research Approach' in df.columns:
    approach = df.groupby('Research Approach')['Reader ID (FactSet)'].count().reset_index()
    approach.columns = ['Approach', 'Reads']
    approach = approach.sort_values('Reads', ascending=False)
    print("\n RESEARCH APPROACH:")
    print(approach)
    results['research_approach'] = approach

 RESEARCH APPROACH:
      Approach  Reads
0  Fundamental   5503

In [53]:
# Page length analysis
if 'Number of pages in report' in df.columns:
    print("\n REPORT LENGTH STATISTICS:")
    print(df['Number of pages in report'].describe())
    results['page_stats'] = df['Number of pages in report'].describe()

 REPORT LENGTH STATISTICS:
count    5976.000000
mean        5.205656
std         3.800600
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max        43.000000
Name: Number of pages in report, dtype: float64

### INTERACTIVE VISUALIZATIONS

In [ ]:
ree

In [73]:
# Access any component:
results['kpis']   = kpis
results['region_country'] = geo_results
results['yearly']       = temporal_results
results['data']         = df_clean
results['top_firms']    = firm_results
results['asset_types']  = content_results

In [75]:
# Access any component:
results['kpis'] = kpis

# region_country: prefer geo_results if available, else keep existing
results['region_country'] = geo_results if 'geo_results' in globals() else results.get('region_country')

# yearly / temporal results: prefer temporal_results, then fallback to a 'yearly' dataframe, then existing value
if 'temporal_results' in globals():
	results['yearly'] = temporal_results
elif 'yearly' in globals():
	results['yearly'] = yearly
else:
	results['yearly'] = results.get('yearly')

results['data'] = df_clean

# top_firms and asset_types with safe fallbacks
results['top_firms'] = firm_results if 'firm_results' in globals() else results.get('top_firms')
results['asset_types'] = content_results if 'content_results' in globals() else results.get('asset_types')

In [76]:
def create_interactive_dashboard(df_clean,region_country, temporal_results, firm_results, content_results):
    """Create comprehensive interactive dashboard"""
    print("\n" + "="*80)
    print("CREATING INTERACTIVE DASHBOARD")
    print("="*80)

    figures = {}

    # Geographic Distribution - Treemap
    if 'region_country' in geo_results:
        fig1 = px.treemap(geo_results['region_country'].head(50),
                          path=['Region', 'Country'],
                          values='Reads',
                          title=' Geographic Distribution: Readership by Region & Country',
                          color='Reads',
                          color_continuous_scale='Blues')
        fig1.update_layout(height=600)
        figures['geo_treemap'] = fig1
        print("Created geographic treemap")

    # Top Countries Bar Chart
    if 'country_stats' in geo_results:
        top_countries = geo_results['country_stats'].head(15).reset_index()
        fig2 = px.bar(top_countries,
                      x='Total_Reads',
                      y='Country',
                      orientation='h',
                      title=' Top 15 Countries by Readership',
                      labels={'Total_Reads': 'Number of Reads'},
                      color='Total_Reads',
                      color_continuous_scale='Viridis')
        fig2.update_layout(height=600, yaxis={'categoryorder':'total ascending'})
        figures['top_countries'] = fig2
        print("✓ Created top countries chart")

In [77]:
# Top Countries Bar Chart
# Ensure geo_results is available (fallback to global `results` if not provided)
if 'geo_results' not in globals():
    geo_results = results  # use previously computed results dict

if 'country_stats' in geo_results:
    top_countries = geo_results['country_stats'].head(15).reset_index()
    fig2 = px.bar(top_countries,
                  x='Total_Reads',
                  y='Country',
                  orientation='h',
                  title=' Top 15 Countries by Readership',
                  labels={'Total_Reads': 'Number of Reads'},
                  color='Total_Reads',
                  color_continuous_scale='Viridis')
    fig2.update_layout(height=600, yaxis={'categoryorder':'total ascending'})
    figures['top_countries'] = fig2
    print("Created top countries chart")

In [ ]:
# Ensure temporal_results is available (fallback to previously computed results)
if 'temporal_results' not in globals():
    temporal_results = results

# Ensure figures dict exists
if 'figures' not in globals():
    figures = {}

# Temporal Trends (robust conversion)
if 'yearly' in temporal_results:
    yr = temporal_results['yearly']
    yearly_data = None
    try:
        # If it's already a DataFrame, ensure Year is a column
        if isinstance(yr, pd.DataFrame):
            yearly_data = yr.reset_index()
            if 'Year' not in yearly_data.columns:
                yearly_data = yearly_data.rename(columns={yearly_data.columns[0]: 'Year'})
        # Handle numpy arrays / lists with sensible heuristics
        elif isinstance(yr, (np.ndarray, list)):
            arr = np.array(yr)
            if arr.ndim == 1:
                yearly_data = pd.DataFrame(arr, columns=['Total_Reads'])
                yearly_data.index.name = 'Year'
                yearly_data = yearly_data.reset_index()
            elif arr.ndim == 2:
                df_tmp = pd.DataFrame(arr)
                first_col = df_tmp.iloc[:, 0]
                # If first column looks like a year, use it as Year
                if np.issubdtype(first_col.dtype, np.number) and ((first_col >= 1900) & (first_col <= 2100)).all():
                    cols = ['Year'] + [f'col{i}' for i in range(1, df_tmp.shape[1])]
                    df_tmp.columns = cols
                    yearly_data = df_tmp
                else:
                    df_tmp.index.name = 'Year'
                    yearly_data = df_tmp.reset_index()
            else:
                yearly_data = pd.DataFrame(arr.reshape(-1, 1)).reset_index().rename(columns={'index': 'Year', 0: 'Total_Reads'})
        else:
            yearly_data = pd.DataFrame(yr)
            if 'Year' not in yearly_data.columns:
                yearly_data = yearly_data.reset_index().rename(columns={'index': 'Year'})
    except Exception as e:
        print("Could not convert temporal_results['yearly'] to DataFrame:", e)
        yearly_data = None

    if yearly_data is not None and not yearly_data.empty:
        # Standardize common column names if possible
        numeric_cols = yearly_data.select_dtypes(include=[np.number]).columns.tolist()
        if 'Total_Reads' not in yearly_data.columns and numeric_cols:
            # prefer a numeric column that isn't 'Year'
            cand = [c for c in numeric_cols if c.lower() not in ('year', 'index')]
            if cand:
                yearly_data = yearly_data.rename(columns={cand[0]: 'Total_Reads'})
            else:
                yearly_data = yearly_data.rename(columns={numeric_cols[0]: 'Total_Reads'})

        if 'Year' not in yearly_data.columns:
            yearly_data = yearly_data.rename(columns={yearly_data.columns[0]: 'Year'})

        # Compute YoY growth if missing and Total_Reads exists
        if 'YoY_Growth' not in yearly_data.columns and 'Total_Reads' in yearly_data.columns:
            yearly_data['YoY_Growth'] = yearly_data['Total_Reads'].pct_change() * 100

        # Try to coerce Year to int for nicer x-axis labels
        try:
            yearly_data['Year'] = yearly_data['Year'].astype(int)
        except Exception:
            pass

        # Create plots (guarding missing columns)
        fig3 = make_subplots(rows=1, cols=2,
                            subplot_titles=(' Total Reads Over Time', ' YoY Growth Rate'))

        if 'Year' in yearly_data.columns and 'Total_Reads' in yearly_data.columns:
            fig3.add_trace(go.Scatter(x=yearly_data['Year'], y=yearly_data['Total_Reads'],
                                        mode='lines+markers', name='Total Reads',
                                        line=dict(color='#1f77b4', width=3),
                                        marker=dict(size=10)), row=1, col=1)
        else:
            # fallback: plot first numeric column against Year/index
            ycols = [c for c in yearly_data.columns if c != 'Year' and pd.api.types.is_numeric_dtype(yearly_data[c])]
            if ycols:
                ycol = ycols[0]
                fig3.add_trace(go.Scatter(x=yearly_data.get('Year', yearly_data.index), y=yearly_data[ycol],
                                            mode='lines+markers', name=ycol,
                                            line=dict(color='#1f77b4', width=3),
                                            marker=dict(size=10)), row=1, col=1)

        if 'Year' in yearly_data.columns and 'YoY_Growth' in yearly_data.columns:
            fig3.add_trace(go.Bar(x=yearly_data['Year'], y=yearly_data['YoY_Growth'],
                                    name='YoY Growth %', marker_color='#2ca02c'), row=1, col=2)
        else:
            # compute YoY from Total_Reads if possible
            if 'Total_Reads' in yearly_data.columns:
                fig3.add_trace(go.Bar(x=yearly_data.get('Year', yearly_data.index),
                                      y=yearly_data['Total_Reads'].pct_change() * 100,
                                      name='YoY Growth %', marker_color='#2ca02c'), row=1, col=2)
            else:
                fig3.add_trace(go.Bar(x=yearly_data.get('Year', yearly_data.index),
                                      y=[None] * len(yearly_data),
                                      name='YoY Growth %', marker_color='#2ca02c'), row=1, col=2)

        fig3.update_xaxes(title_text="Year", row=1, col=1)
        fig3.update_xaxes(title_text="Year", row=1, col=2)
        fig3.update_yaxes(title_text="Number of Reads", row=1, col=1)
        fig3.update_yaxes(title_text="Growth Rate (%)", row=1, col=2)
        fig3.update_layout(height=500, showlegend=True, title_text="📅 Temporal Analysis")
        figures['temporal_trends'] = fig3
        print("✓ Created temporal trends")
    else:
        print("No yearly data available to create temporal trends.")
else:
    print("No 'yearly' key in temporal_results to create temporal trends.")

Could not convert temporal_results['yearly'] to DataFrame: Data must be 1-dimensional, got ndarray of shape (416, 2) instead
No yearly data available to create temporal trends.

In [57]:
#Monthly & Day of Week Heatmap
if 'Month' in df.columns and 'DayOfWeek' in df.columns:
    heatmap_data = df.groupby(['Month', 'DayOfWeek']).size().reset_index(name='Reads')
    heatmap_pivot = heatmap_data.pivot(index='DayOfWeek', columns='Month', values='Reads')
    day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    heatmap_pivot = heatmap_pivot.reindex(day_order)
        
    fig4 = px.imshow(heatmap_pivot,
                    labels=dict(x="Month", y="Day of Week", color="Reads"),
                    title=' Readership Heatmap: Day of Week vs Month',
                    color_continuous_scale='YlOrRd')
    fig4.update_layout(height=500)
    figures['heatmap'] = fig4
    print("✓ Created readership heatmap")

In [58]:
# Top Firms
# Ensure firm_results is available (fallback to common results dicts)
if 'firm_results' not in globals():
    if 'geo_results' in globals():
        firm_results = geo_results
    elif 'results' in globals():
        firm_results = results
    else:
        firm_results = {}

# Ensure figures dict exists
if 'figures' not in globals():
    figures = {}

if 'top_firms' in firm_results:
    top_firms_data = firm_results['top_firms'].head(20).reset_index()
    fig5 = px.bar(top_firms_data,
                    y='Firm name',
                    x='Total_Reads',
                    orientation='h',
                    title=' Top 20 Firms by Readership',
                    labels={'Total_Reads': 'Number of Reads'},
                    color='Total_Reads',
                    color_continuous_scale='Plasma')
    fig5.update_layout(height=700, yaxis={'categoryorder':'total ascending'})
    figures['top_firms'] = fig5
    print("Created top firms chart successfully")

Created top firms chart successfully

In [59]:
# Asset Class Distribution
# Ensure content_results is available (fallback to previously computed results)
if 'content_results' not in globals():
    if 'results' in globals():
        content_results = results
    elif 'geo_results' in globals():
        content_results = geo_results
    else:
        content_results = {}

# Ensure figures dict exists
if 'figures' not in globals():
    figures = {}

if 'asset_class' in content_results and not content_results['asset_class'].empty:
    fig6 = px.pie(content_results['asset_class'],
                  values='Reads',
                  names='Asset_Class',
                  title=' Asset Class Distribution',
                  hole=0.4)
    fig6.update_traces(textposition='inside', textinfo='percent+label')
    fig6.update_layout(height=500)
    figures['asset_class'] = fig6
    print("Created asset class pie chart successfully")
else:
    print("No asset_class data available to create pie chart")

Created asset class pie chart successfully

In [60]:
# Research Approach & Purpose
if 'research_approach' in content_results and 'report_purpose' in content_results:
    fig7 = make_subplots(rows=1, cols=2,
                        specs=[[{'type':'bar'}, {'type':'bar'}]],
                        subplot_titles=('🔬 Research Approach', '📋 Report Purpose'))
        
    fig7.add_trace(go.Bar(x=content_results['research_approach']['Approach'],
                            y=content_results['research_approach']['Reads'],
                            marker_color='indianred'), row=1, col=1)
        
    fig7.add_trace(go.Bar(x=content_results['report_purpose']['Purpose'],
                            y=content_results['report_purpose']['Reads'],
                            marker_color='lightsalmon'), row=1, col=2)
        
    fig7.update_layout(height=500, showlegend=False, title_text="📊 Content Characteristics")
    figures['content_chars'] = fig7
    print("Created content characteristics successfully")

Created content characteristics successfully

In [61]:
 #Quarterly Trends
if 'quarterly' in temporal_results:
    fig8 = px.line(temporal_results['quarterly'],
                    x='Period',
                    y='Reads',
                    title='📊 Quarterly Readership Trends',
                    markers=True)
    fig8.update_traces(line=dict(width=3), marker=dict(size=8))
    fig8.update_layout(height=500)
    figures['quarterly'] = fig8
    print("✓ Created quarterly trends")
    
print(f"\n Created {len(figures)} interactive visualizations")

 Created 4 interactive visualizations

In [62]:
figures

{'temporal_trends': Figure({
     'data': [{'line': {'color': '#1f77b4', 'width': 3},
               'marker': {'size': 10},
               'mode': 'lines+markers',
               'name': 'Total Reads',
               'type': 'scatter',
               'x': {'bdata': '4wfkB+UH5gfnB+gH6Qc=', 'dtype': 'i2'},
               'xaxis': 'x',
               'y': {'bdata': '2gK7AkECTAJxBD0EiAQ=', 'dtype': 'i2'},
               'yaxis': 'y'},
              {'marker': {'color': '#2ca02c'},
               'name': 'YoY Growth %',
               'type': 'bar',
               'x': {'bdata': '4wfkB+UH5gfnB+gH6Qc=', 'dtype': 'i2'},
               'xaxis': 'x2',
               'y': {'bdata': 'AAAAAAAA+H/Hjx8/fvwQwHNLducYdDHAHD/yXqqA/j/mFLycgldXQItMbI8zSxLAYZmuTFemG0A=',
                     'dtype': 'f8'},
               'yaxis': 'y2'}],
     'layout': {'annotations': [{'font': {'size': 16},
                                 'showarrow': False,
                                 'text': ' Total Reads Over Time',
                                 'x': 0.225,
                                 'xanchor': 'center',
                                 'xref': 'paper',
                                 'y': 1.0,
                                 'yanchor': 'bottom',
                                 'yref': 'paper'},
                                {'font': {'size': 16},
                                 'showarrow': False,
                                 'text': ' YoY Growth Rate',
                                 'x': 0.775,
                                 'xanchor': 'center',
                                 'xref': 'paper',
                                 'y': 1.0,
                                 'yanchor': 'bottom',
                                 'yref': 'paper'}],
                'height': 500,
                'showlegend': True,
                'template': '...',
                'title': {'text': '📅 Temporal Analysis'},
                'xaxis': {'anchor': 'y', 'domain': [0.0, 0.45], 'title': {'text': 'Year'}},
                'xaxis2': {'anchor': 'y2', 'domain': [0.55, 1.0], 'title': {'text': 'Year'}},
                'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'Number of Reads'}},
                'yaxis2': {'anchor': 'x2', 'domain': [0.0, 1.0], 'title': {'text': 'Growth Rate (%)'}}}
 }),
 'top_firms': Figure({
     'data': [{'hovertemplate': 'Number of Reads=%{marker.color}<br>Firm name=%{y}<extra></extra>',
               'legendgroup': '',
               'marker': {'color': {'bdata': 'jwaaAtwBXAH6AKIAlACFAHcAdgBwAGMATABIADgAOAAyAC4AKQAmAA==', 'dtype': 'i2'},
                          'coloraxis': 'coloraxis',
                          'pattern': {'shape': ''}},
               'name': '',
               'orientation': 'h',
               'showlegend': False,
               'textposition': 'auto',
               'type': 'bar',
               'x': {'bdata': 'jwaaAtwBXAH6AKIAlACFAHcAdgBwAGMATABIADgAOAAyAC4AKQAmAA==', 'dtype': 'i2'},
               'xaxis': 'x',
               'y': array(['Bessemer Trust Company', 'Permodalan Nasional Berhad (PNB)',
                           'JPM Private Bank - 277 Park', 'Charles Schwab & Co., Inc',
                           'BAML Wealth Pennington - WA9749',
                           'Old Mutual Investment Group (Pty) Ltd.', 'Fairfield Bush & Co',
                           'Columbia University - Business School',
                           'Osborne Partners Capital Management',
                           'Montrusco Bolton Investments Inc.', 'PNC Wealth Management',
                           'Bank of America Private Wealth Management',
                           'BAML Wealth Kansas City - WZ3701', 'BAML Wealth New York - W04701',
                           'Tanager Wealth Management', 'Virtus Investment Partners',
                           'Allianz Global Investors U.S.',
                           'Copal Amba (for Julius Baer), Bangalore',
                           'Equinox Partners Investment Management, LLC.',
                           'BAML Wealth - WZ5911 - Richmond'], dtype=object),
               'yaxis': 'y'}],
     'layout': {'barmode': 'relative',
                'coloraxis': {'colorbar': {'title': {'text': 'Number of Reads'}},
                              'colorscale': [[0.0, '#0d0887'], [0.1111111111111111,
                                             '#46039f'], [0.2222222222222222,
                                             '#7201a8'], [0.3333333333333333,
                                             '#9c179e'], [0.4444444444444444,
                                             '#bd3786'], [0.5555555555555556,
                                             '#d8576b'], [0.6666666666666666,
                                             '#ed7953'], [0.7777777777777778,
                                             '#fb9f3a'], [0.8888888888888888,
                                             '#fdca26'], [1.0, '#f0f921']]},
                'height': 700,
                'legend': {'tracegroupgap': 0},
                'template': '...',
                'title': {'text': ' Top 20 Firms by Readership'},
                'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'Number of Reads'}},
                'yaxis': {'anchor': 'x',
                          'categoryorder': 'total ascending',
                          'domain': [0.0, 1.0],
                          'title': {'text': 'Firm name'}}}
 }),
 'asset_class': Figure({
     'data': [{'domain': {'x': [0.0, 1.0], 'y': [0.0, 1.0]},
               'hole': 0.4,
               'hovertemplate': 'Asset_Class=%{label}<br>Reads=%{value}<extra></extra>',
               'labels': array(['Equity', 'FixedIncome', 'Currency', 'Commodity'], dtype=object),
               'legendgroup': '',
               'name': '',
               'showlegend': True,
               'textinfo': 'percent+label',
               'textposition': 'inside',
               'type': 'pie',
               'values': {'bdata': 'NhHvArYBswA=', 'dtype': 'i2'}}],
     'layout': {'height': 500,
                'legend': {'tracegroupgap': 0},
                'template': '...',
                'title': {'text': ' Asset Class Distribution'}}
 }),
 'content_chars': Figure({
     'data': [{'marker': {'color': 'indianred'},
               'type': 'bar',
               'x': array(['Fundamental'], dtype=object),
               'xaxis': 'x',
               'y': {'bdata': 'fxU=', 'dtype': 'i2'},
               'yaxis': 'y'},
              {'marker': {'color': 'lightsalmon'},
               'type': 'bar',
               'x': array(['Action', 'Education', 'Influence'], dtype=object),
               'xaxis': 'x2',
               'y': {'bdata': 'ZQIfABIA', 'dtype': 'i2'},
               'yaxis': 'y2'}],
     'layout': {'annotations': [{'font': {'size': 16},
                                 'showarrow': False,
                                 'text': '🔬 Research Approach',
                                 'x': 0.225,
                                 'xanchor': 'center',
                                 'xref': 'paper',
                                 'y': 1.0,
                                 'yanchor': 'bottom',
                                 'yref': 'paper'},
                                {'font': {'size': 16},
                                 'showarrow': False,
                                 'text': '📋 Report Purpose',
                                 'x': 0.775,
                                 'xanchor': 'center',
                                 'xref': 'paper',
                                 'y': 1.0,
                                 'yanchor': 'bottom',
                                 'yref': 'paper'}],
                'height': 500,
                'showlegend': False,
                'template': '...',
                'title': {'text': '📊 Content Characteristics'},
                'xaxis': {'anchor': 'y', 'domain': [0.0, 0.45]},
                'xaxis2': {'anchor': 'y2', 'domain': [0.55, 1.0]},
                'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0]},
                'yaxis2': {'anchor': 'x2', 'domain': [0.0, 1.0]}}
 })}

### STATISTICAL ANALYSIS

In [63]:
def statistical_analysis(df):
    """Perform statistical tests and analysis"""
    print("\n" + "="*80)
    print("STATISTICAL ANALYSIS")
    print("="*80)
    
    results = {}

In [64]:
# Chi-square test: Region vs Asset Class
if 'Region' in df.columns and 'Asset Class' in df.columns:
    contingency = pd.crosstab(df['Region'], df['Asset Class'])
    chi2, p_value, dof, expected = chi2_contingency(contingency)
    print("\n Chi-Square Test: Region vs Asset Class")
    print(f"   • Chi-square statistic: {chi2:.4f}")
    print(f"   • P-value: {p_value:.4f}")
    print(f"   • Degrees of freedom: {dof}")
    if p_value < 0.05:
        print("   • Result: Significant relationship (p < 0.05)")
    else:
        print("   • Result: No significant relationship (p >= 0.05)")
    results['chi_square'] = {'chi2': chi2, 'p_value': p_value, 'dof': dof}

 Chi-Square Test: Region vs Asset Class
   • Chi-square statistic: 119.7631
   • P-value: 0.0000
   • Degrees of freedom: 15
   • Result: Significant relationship (p < 0.05)

In [65]:
# Correlation analysis
numeric_cols = df.select_dtypes(include=[np.number]).columns
if len(numeric_cols) > 1:
    corr_matrix = df[numeric_cols].corr()
    print("\n Correlation Matrix:")
    print(corr_matrix)
    results['correlation'] = corr_matrix

 Correlation Matrix:
                                        Year  Parent Firm ID (FactSet)  \
Year                                1.000000                  0.038838
Parent Firm ID (FactSet)            0.038838                  1.000000
Firm ID (FactSet)                   0.321610                  0.523488
Primary analyst code (contributor)  0.816831                  0.047761
Primary analyst code (FactSet)      0.871148                  0.045808
Number of pages in report           0.254218                  0.028565
Primary Industry Code (FactSet)     0.037983                 -0.036769

                                    Firm ID (FactSet)  \
Year                                         0.321610
Parent Firm ID (FactSet)                     0.523488
Firm ID (FactSet)                            1.000000
Primary analyst code (contributor)           0.323662
Primary analyst code (FactSet)               0.333560
Number of pages in report                    0.080222
Primary Industry Code (FactSet)             -0.053906

                                    Primary analyst code (contributor)  \
Year                                                          0.816831
Parent Firm ID (FactSet)                                      0.047761
Firm ID (FactSet)                                             0.323662
Primary analyst code (contributor)                            1.000000
Primary analyst code (FactSet)                                0.945426
Number of pages in report                                     0.212376
Primary Industry Code (FactSet)                              -0.053387

                                    Primary analyst code (FactSet)  \
Year                                                      0.871148
Parent Firm ID (FactSet)                                  0.045808
Firm ID (FactSet)                                         0.333560
Primary analyst code (contributor)                        0.945426
Primary analyst code (FactSet)                            1.000000
Number of pages in report                                 0.231362
Primary Industry Code (FactSet)                          -0.020223

                                    Number of pages in report  \
Year                                                 0.254218
Parent Firm ID (FactSet)                             0.028565
Firm ID (FactSet)                                    0.080222
Primary analyst code (contributor)                   0.212376
Primary analyst code (FactSet)                       0.231362
Number of pages in report                            1.000000
Primary Industry Code (FactSet)                      0.224253

                                    Primary Industry Code (FactSet)
Year                                                       0.037983
Parent Firm ID (FactSet)                                  -0.036769
Firm ID (FactSet)                                         -0.053906
Primary analyst code (contributor)                        -0.053387
Primary analyst code (FactSet)                            -0.020223
Number of pages in report                                  0.224253
Primary Industry Code (FactSet)                            1.000000